<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="http://localhost:3000/submit" method="POST">
        <input type="text" name="name" id="name" placeholder="Full name">
        <input type="email" name="email" id="email" placeholder="email address">
        <input type="text" name="card_no" id="card_no" placeholder="Credit card number">
        <input type="text" name="_csrf" value={{token}} hidden>
        <input type="submit" value="Submit">
    </form>
</body>

</html>